
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../components/font-awesome/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../components/font-awesome/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../components/font-awesome/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: normal normal normal 14px/1 FontAwesome;
    background-color: #fafafa;
    background-image: url('/public/images/slack.png');
    background-position: right 70vh;
    background-repeat: no-repeat;
    height:100vh;
    overflow-x:hidden;
}

#background{
  background: url('/public/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100vw;
  height:100vh;
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
  position: fixed;
  top:0; left: 0;
  z-index: -1000;
}

header{
    text-align: center;
}

header h1{
  padding-top:10vh;
  font-size: 3.5em;
  font-weight: 200 !important;
  text-shadow: 0px 0px 1px #999;
}

header h1 strong{
  font-weight: 400 !important;
}

header p{
  font-size:1.5em;
  font-weight: 200 !important;
}

header p strong{
  font-weight: 400 !important;
}

section {
  margin-top:40px;
  text-align: center;
}

section article form label {
  font-size:1.3em;
  font-weight: 200 !important;
}

section article form button {
  display: block;
}

section h2 {
  font-size: 2.5em;
  font-weight: 200 !important;
  margin-bottom:20px;
}

section p {
  font-size:1.3em;
  font-weight: 200 !important;
  margin-bottom: 40px;
}

.label-members {
  margin-right:5px;
  display: inline-block;
  margin-bottom:5px;
}

aside{
  position: absolute;
  bottom:80px;
}

aside h4 {
  font-weight: 200 !important;
}

aside h4 strong {
  font-size:.8em;
  font-weight: 400 !important;
}

aside h4.totals {
  margin-bottom: 20px;
  font-size:1.8em;
}

aside h4 .label {
  font-size:.8em;
}

footer {
  position:absolute;
  bottom:0;

  width:100vw;
  padding-top:10px;
  border-top:3px #f1f1f1 solid;
}

footer p{
  text-align: center;
  font-size:.9em;
}

footer p .label{
  font-size:.9em;
}

section.success {
  margin-top: 20vh;
  text-align: center;
}

section.success h2 {
  font-size:3em;
  text-shadow: 0px 0px 1px #999;
}

section.success p {
  font-size: 1.5em;
  font-weight: 200;
}

section.success p strong{
  font-weight: 400;
}

section.success p span.label {
  font-size: 1em;
  font-weight: 200;
}

section.success .fa {
  background-color: #27ae60;
  padding:20px;
  border: 2px #2ecc71 solid;
  border-radius: 50%;
}

#page-preloader{
    position:relative;
    left:49vw;
    top:49vh;
}

#page-preloader:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#3498db;
    animation: preloader_3_before 1.5s infinite ease-in-out;
}

#page-preloader:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background:blue;
    content:'';
    position:absolute;
    background:#c0392b;
    left:22px;
    animation: preloader_3_after 1.5s infinite ease-in-out;
}

@keyframes preloader_3_before {
    0% {transform: translateX(0px) rotate(0deg)}
    50% {transform: translateX(50px) scale(1.2) rotate(260deg); background:#27ae60;border-radius:0px;}
      100% {transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_after {
    0% {transform: translateX(0px)}
    50% {transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#f1c40f;border-radius:0px;}
    100% {transform: translateX(0px)}
}


.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear .5s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.animate-hide {
  transition: all linear .1s;
  opacity: 1;
}

.animate-hide.ng-hide {
  opacity: 0;
}
